<p-toast key="patientAssignMessage" position="top-center"></p-toast>
<span class="ml-1 font-bold">Pregunta: </span>{{questionObj.question | translate}} | <span class="font-bold">Tipo:
</span>{{questionObj.answerType.description | translate}}<br /><br />
<span class="ml-1 font-bold">Días de la semana:</span>
<form id="formQuestionsToQuestionnaire" name="questionnaireQuestionForm" #questionnaireQuestionObj="ngForm" (ngSubmit)="displayToSelect(questionnaireQuestionObj)">
<div id="dates" class="formgrid w-full grid mt-2">
    <div class="col-12  flex align-items-center justify-content-center ml-2">
        <div class="flex align-items-center gap-1 ml-3 mr-4" *ngFor="let day of weekDays">
            <p-checkbox required name="group1" [value]="day.code" [inputId]="day.value" [(ngModel)]="questionnaireQuestionObj.weekDays"></p-checkbox>
            <label [for]="day.value">{{ day.value }}</label>
          </div>
          
        

    </div>
</div>
<br />
<span class="ml-1 font-bold">Franja horaria:</span>
<div id="timezone" class="formgrid w-full grid mt-2">
    <div class="col-12  flex ml-3">
        <div class="flex flex-wrap gap-3">
            <div class="flex align-items-center" *ngFor="let slot of slots">
                <p-radioButton required name="time" [value]="slot.value" [inputId]="'time' + slot.code"
                    [(ngModel)]="questionnaireQuestionObj.timeslot"></p-radioButton>
                <label [for]="'time' + slot.code" class="ml-2">{{ slot.value }}</label>
            </div>
        </div>
    </div>
</div><br />
<div *ngIf="checkAlert">
    <a class="text-xl font-bold cursor-pointer" (click)="showDiv = !showDiv">
        {{ showDiv ? 'No insertar alerta' : 'Insertar alerta' }}
    </a>

    <br />
    <div *ngIf="showDiv">
        <span class="ml-1 font-bold">Alerta:</span>
        <div class="col-12  flex ml-2">
            <p-dropdown class="form-control w-full" [options]="answersByType" [optionLabel]="translateOptionLabel"
                styleClass="w-full" placeholder="Valor de alerta" optionValue="code" optionLabel="value"></p-dropdown>
            <!--si no es numérica......-->
            <input type="text" class="form-control w-full ml-4" pInputText pKeyFilter="alphanum"
                placeholder="Respuestas consecutivas para alerta" name="nif" required />
            <i class="pi pi-info-circle ml-4 mt-1" style="font-size: 2rem"></i>
        </div>
    </div>
</div><br /><br /><br /><br /><br />

<div class="flex flex-row-reverse w-auto mt-8 mr-3">
    <div>
        <button type="submit" class="p-button-primary w-6rem"   [disabled]="questionnaireQuestionObj.form.invalid " pButton
            label="{{ 'patientEvaluation.dialogAsignation.save' | translate}}"></button>
    </div>
    <div class="px-2">
        <button type="button" class="p-button-secondary w-6rem" (click)="onClose()" pButton
            label="{{ 'patientEvaluation.dialogAsignation.close' | translate}}"></button>
    </div>
</div>
</form>