<p-toast key="patientAssignMessage" position="top-center"></p-toast>
<span class="ml-1 font-bold">Pregunta: </span>{{questionObj.question | translate}} | <span class="font-bold">Tipo:
</span>{{questionObj.answerType.description | translate}}<br /><br />
<span class="ml-1 font-bold">Días de la semana:</span>
<form id="formQuestionsToQuestionnaire" name="questionnaireQuestionForm" #questionnaireQuestionObj="ngForm" (ngSubmit)="displayToSelect(questionnaireQuestionObj)">
<div id="dates" class="formgrid w-full grid mt-2">
    <div class="col-12  flex align-items-center justify-content-center ml-2">
        <div class="flex align-items-center gap-1 ml-3 mr-4" *ngFor="let day of weekDays">
          <p-checkbox required name="group1" [value]="day" [inputId]="day.id" [(ngModel)]="questionnaireQuestionObj.weekDays"></p-checkbox>
          <label [for]="day.id"> {{ day.code | translate}} </label>
        </div>
      </div>
      
      
    
</div>
<br />
<span class="ml-1 font-bold">Franja horaria:</span>
<div id="timezone" class="formgrid w-full grid mt-2">
    <div class="col-12  flex ml-3">
        <div class="flex flex-wrap gap-3">
            <div class="flex align-items-center" *ngFor="let slot of slots">
                <p-radioButton required name="time" [value]="slot.code" [inputId]="'time' + slot.code"
                    [(ngModel)]="questionnaireQuestionObj.timeslot"></p-radioButton>
                <label [for]="'time' + slot.code" class="ml-2">{{ slot.value }}</label>
            </div>
        </div>
    </div>
</div><br />
<div *ngIf="checkAlert">
        <span class="ml-1 font-bold">Alerta:</span>
        <div class="col-12  flex ml-2">
            <p-dropdown class="form-control w-full" [options]="answersByType" [optionLabel]="translateOptionLabel" [(ngModel)]="questionnaireQuestionObj.alertConfigAnswerType"
                styleClass="w-full" placeholder="Valor de alerta" name="alertConfigAnswerType"></p-dropdown>
                <p-inputNumber styleClass="w-full" class="form-control w-full ml-4" placeholder="Respuestas consecutivas para alerta" name="alertConfigConsecutiveAnswers" [(ngModel)]="questionnaireQuestionObj.alertConfigConsecutiveAnswers"> </p-inputNumber>
            <i class="pi pi-info-circle ml-4" style="font-size: 2rem" pTooltip="Al asignar una pregunta al cuestionario puedes insertar una configuración de alerta, siempre y cuando el tipo de pregunta no sea numérica. Para configurarla debes introducir el valor de la alerta en el desplegable e introducir un nº de respuestas consecutivas para la misma."></i>
        </div>
</div>
<br/><br/>
<div class="flex flex-row-reverse w-auto mt-8 mr-3">
    <div>
        <button type="submit" class="p-button-primary w-6rem"   [disabled]="questionnaireQuestionObj.form.invalid " pButton
            label="{{ 'patientEvaluation.dialogAsignation.save' | translate}}"></button>
    </div>
    <div class="px-2">
        <button type="button" class="p-button-secondary w-6rem" (click)="onClose()" pButton
            label="{{ 'patientEvaluation.dialogAsignation.close' | translate}}"></button>
    </div>
</div>
</form>