<div class="grid">
  <div class="col-12 md:col-3 lg:col-3">
    <p-card [style]="{ width: '96%'}" class="mb-8 ml-6 mr-3 text-center justify-content-center">
      <ng-template pTemplate="header">
        <img class="max-w-20rem h-10rem" alt="Card" src="assets/images/user.png"  />
      </ng-template>
      <ng-template pTemplate="body">
        <p-button icon="pi pi-trash" styleClass="p-button-secondary"></p-button>&nbsp;
        <p-button icon="pi pi-user-edit"></p-button>
      </ng-template>
    </p-card>


  </div>
  <div class="col-12 md:col-9 lg:col-9">
    <form class="formgrid w-full grid justify-content-center" name="patientForm" #patient="ngForm">
      <div class=" col-12 md:col-5 lg:col-4 md:ml-4 md:mt-4">
        <span class="p-float-label mb-5">
          <input id="nif-input"  type="text" class="form-control w-full" pInputText
            [(ngModel)]="patientObj.nif" pKeyFilter="alphanum" name="nif" required />
          <label for="inputtext">{{"patientEdit.form.input.nif" | translate}}</label>
        </span>

        <span class="p-float-label mb-5">
          <input class="form-control w-full" [(ngModel)]="patientObj.user.name" type="text" pInputText
            pKeyFilter="alpha" required name="patientObj.user.name" />
          <label for="inputtext">{{"patientEdit.form.input.name" | translate}}</label>
        </span>

        <span class="p-float-label mb-5">
          <input class="form-control w-full" [(ngModel)]="patientObj.user.email" type="email"
            [email]="true" pInputText required name="patientObj.user.email" />
          <label for="inputtext">{{"patientEdit.form.input.email" | translate}}</label>
        </span>

        <span class="p-float-label mb-5">
          <p-inputMask class="form-control w-full" autoWidth="false" [style]="{'width':'100%'}" [(ngModel)]="patientObj.phone"
            mask="999999999" required name="patientObj.phone"></p-inputMask>
          <label for="inputtext">{{"patientEdit.form.input.phone" | translate}}</label>
        </span>

      </div>

      <div class=" col-12 md:col-5 lg:col-4 md:mt-4 lg:mt-4 md:ml-4 md:mt-4">
        <span class="p-float-label mb-5">
          <p-dropdown class="form-control w-full" autoWidth="false" [style]="{'width':'100%'}" [(ngModel)]="patientObj.gender"
            [options]="genders" optionValue="code" optionLabel="value" name="patientObj.gender"></p-dropdown>
          <label for="inputtext">{{"patientEdit.form.input.gender.title" | translate}}</label>
        </span>
        <span class="p-float-label mb-5">
          <input class="form-control w-full" [(ngModel)]="patientObj.user.surnames" type="text"  pInputText
            pKeyFilter="alpha" required name="patientObj.user.surnames" />
          <label for="inputtext">{{"patientEdit.form.input.surname" | translate}}</label>
        </span>

        <span class="p-float-label mb-5">
          <p-calendar class="form-control" [(ngModel)]="fechaFormateada" optionValue="code" autoWidth="false"
            [style]="{'width':'100%'}" dateFormat="dd-mm-yy" name="patientObj.dateBirth"
            (onSelect)="onSelectMethod($event, fechaFormateada)"></p-calendar>
          <label for="inputtext">{{"patientDischarge.form.input.dateBirth" | translate}}</label>
        </span>

        <span class="p-float-label mb-5">
          <p-inputMask class="form-control" [(ngModel)]="patientObj.sip" mask="99999999" autoWidth="false"
            [style]="{'width':'100%'}" name="patientObj.sip"></p-inputMask>
          <label for="inputtext">{{"patientEdit.form.input.sip" | translate}}</label>
        </span>

        <span class="p-float-label mb-5">
          <input class="form-control" [(ngModel)]="patientObj.medicalHistory" type="text" style="width: 100%;"
            pInputText pKeyFilter="int" name="patientObj.medicalHistory" />
          <label for="inputtext">{{"patientEdit.form.input.clinic" | translate}}</label>
        </span>
        <div class="relative"><i class="absolute text-400 font-italic right-0 top-0">{{"patientEdit.form.required" |
            translate}}</i></div><br />

        <div class="flex flex-row-reverse  mt-5">
          <div>
            <button type="button" class="p-button-primary" (click)="toEdit(patientObj)" pButton
              label="{{ 'patientEdit.form.save' | translate}}"></button>
          </div>
          <div class="px-2">
            <button type="button" pButton mat-raised-button (click)="onCancel($event)" class="p-button-secondary"
              label="{{ 'patientEdit.form.close' | translate}}"></button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>