<div class=" grid min-h-full mx-0 my-0 max-w-full">
  <p-blockUI [blocked]="isloading"></p-blockUI>
  <p-toast key="patientDischargeMessage" position="top-center"></p-toast>
  <div class="grid min-h-full max-w-full mt-1 mx-0">
    <div class="col-5 h-full flex align-items-center justify-content-center ">
        <p-card class="mb-8 ml-6 mr-3" header="{{'patientDischarge.helpCard.title' | translate}}">
          <div [innerHTML]="'patientDischarge.helpCard.paragraph' | translate"></div>
        </p-card>
    </div>

    <div class="col-7 flex flex-colum p-fluid align-items-center justify-content-center">
      <form class="formgrid w-full grid" #patient="ngForm" (ngSubmit)="toRegister(patient)">
          <div class="field col mr-6">
              <span class="p-float-label mb-5 mt-0">
                <input class="form-control" [(ngModel)]="patient.nif" type="text" pInputText pKeyFilter="alphanum" required name="patient.nif"/>
                <label for="inputtext">{{"patientDischarge.form.input.nif" | translate}}</label>
              </span>
              <span class="p-float-label mb-5">
                <input class="form-control" [(ngModel)]="patient.username" type="text" pInputText pattern="[a-z0-9]+" required name="patient.user.username"/>
              <label for="inputtext">{{"patientDischarge.form.input.username" | translate}}</label>
            </span>
              <span class="p-float-label mb-5">
                  <input class="form-control" [(ngModel)]="patient.name" type="text" pInputText pKeyFilter="alpha" required name="patient.user.name"/>
                <label for="inputtext">{{"patientDischarge.form.input.name" | translate}}</label>
              </span>
              <span class="p-float-label mb-5">
                  <input class="form-control" [(ngModel)]="patient.email" type="email" [email]="true" pInputText required name="patient.user.email"/>
                <label for="inputtext">{{"patientDischarge.form.input.email" | translate}}</label>
              </span>
              <span class="p-float-label mb-5">
                  <p-inputMask class="form-control" [(ngModel)]="patient.sip" mask="99999999" name="patient.sip"></p-inputMask>
                <label for="inputtext">{{"patientDischarge.form.input.sip" | translate}}</label>
              </span>     
          </div>
          <div class="field col mr-6">
              <span class="p-float-label mb-5 mt-0">
                  <p-dropdown class="form-control" [(ngModel)]="patient.gender" [options]="genders" optionValue="code" optionLabel="value" name="patient.gender"></p-dropdown>
                <label for="inputtext">{{"patientDischarge.form.input.gender.title" | translate}}</label>
              </span>
              <span class="p-float-label mb-5">
                  <p-calendar class="form-control" [(ngModel)]="patient.dateBirth" optionValue="code" name="patient.dateBirth"></p-calendar>
                <label for="inputtext">{{"patientDischarge.form.input.dateBirth" | translate}}</label>
              </span>
              <span class="p-float-label mb-5">
                  <input class="form-control" [(ngModel)]="patient.surnames" type="text" pInputText pKeyFilter="alpha" required name="patient.user.surnames"/>
                <label for="inputtext">{{"patientDischarge.form.input.surname" | translate}}</label>
              </span>
              <span class="p-float-label mb-5">
                  <p-inputMask class="form-control" [(ngModel)]="patient.phone" mask="999999999" required name="patient.phone"></p-inputMask>
                <label for="inputtext">{{"patientDischarge.form.input.phone" | translate}}</label>
              </span>
              <span class="p-float-label">
                  <input class="form-control" [(ngModel)]="patient.medicalHistory" type="text" pInputText pKeyFilter="int" name="patient.medicalHistory"/>
                <label for="inputtext">{{"patientDischarge.form.input.clinic" | translate}}</label>
              </span>
              <div class="relative"><i class="absolute text-400 font-italic right-0 top-0">{{"patientDischarge.form.required" | translate}}</i></div>
              <br><br>
              <button pButton type="submit" label="{{'patientDischarge.form.register' | translate}}" icon="pi pi-send" [disabled]="!patient.form.valid" ></button>
          </div>
      </form>
    </div>
</div>
<div class="loadWrapper flex align-items-center flex-column justify-content-center min-h-full" *ngIf="isloading">
  <p-progressSpinner></p-progressSpinner>
</div>