<p-table #ut [value]="patients" [lazy]="true" (onLazyLoad)="loadPage($event)" [loading]="loading" scrollable="true" 
    scrollHeight="calc(100vh - 190px)" responsiveLayout="scroll" [paginator]="true" [rows]="10"
    [totalRecords]="totalRecords" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
    currentPageReportTemplate="{first} - {last} / {totalRecords}" paginatorPosition="bottom">

    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="nif">{{"patients.nif" | translate}}<p-sortIcon field="nif"></p-sortIcon>
            </th>
            <th pSortableColumn="user.name">{{"patients.name" | translate}}<p-sortIcon field="user.name"></p-sortIcon>
            </th>
            <th pSortableColumn="user.surnames">{{"patients.surnames" | translate}}<p-sortIcon field="user.surnames"></p-sortIcon>
            </th>
            <th pSortableColumn="gender">{{"patients.gender.title" | translate}}<p-sortIcon field="patients.gender"></p-sortIcon>
            </th>
            <th pSortableColumn="dateBirth">{{"patients.dateBirth" | translate}}<p-sortIcon field="dateBirth"></p-sortIcon>
            </th>
            <th pSortableColumn="user.email">{{"patients.email" | translate}}<p-sortIcon field="user.email"></p-sortIcon>
            </th>
            <th pSortableColumn="phone">{{"patients.phone" | translate}}<p-sortIcon field="phone"></p-sortIcon>
            </th>
            <th pSortableColumn="sip">{{"patients.sip" | translate}}<p-sortIcon field="sip"></p-sortIcon>
            </th>
            <th pSortableColumn="medicalHistory">{{"patients.medicalHistory" | translate}}<p-sortIcon field="medicalHistory"></p-sortIcon>
            </th>
            <th style='flex: 0 0 300px;'>{{"patients.actions" | translate}}</th>
        </tr>
        <tr>
            <th><p-columnFilter type="text" field="nif" matchMode="equals" [showMenu]="false"></p-columnFilter></th>
            <th><p-columnFilter type="text" field="name"  matchMode="equals" [showMenu]="false"></p-columnFilter></th>
            <th><p-columnFilter type="text" field="surnames"  matchMode="equals" [showMenu]="false"></p-columnFilter></th>
            <th>
                <p-columnFilter field="gender" matchMode="equals" [showMenu]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                      <p-dropdown [ngModel]="value" appendTo="body" [options]="genders" placeholder='{{"patients.filter.user" | translate}}' optionValue="code" optionLabel="value" name="patient.gender" (onChange)="filter($event.value)"> 
                      </p-dropdown>
                    </ng-template>
                  </p-columnFilter>
              </th>
            <th>
                <p-columnFilter type="date" field="dateBirth" matchMode="is" [showMenu]="false">
                    <ng-template pTemplate="filter" let-filter="filterCallback">
                       <p-calendar (onSelect)="filter($event)" dateFormat="dd/mm/yy" [panelStyle]="{'width':'350px'}" ></p-calendar>
                    </ng-template>
               </p-columnFilter>
            </th>
            <th><p-columnFilter type="text" field="email" matchMode="equals" [showMenu]="false"></p-columnFilter></th>
            <th><p-columnFilter type="text" field="phone" matchMode="equals" [showMenu]="false" ></p-columnFilter></th>
            <th><p-columnFilter type="text" field="sip" matchMode="equals" [showMenu]="false"></p-columnFilter></th>
            <th><p-columnFilter type="text" field="medicalHistory" matchMode="equals" [showMenu]="false"></p-columnFilter></th>
            <th style='flex: 0 0 300px;'></th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-patients>
        <tr>
            <td>{{patients.nif}}</td>
            <td>{{patients.user.name}}</td>
            <td>{{patients.user.surnames}}</td>
            <td>{{getGender(patients.gender)}}</td>
            <td>{{patients.dateBirth | date: 'dd/MM/yyyy'}}</td>
            <td>{{patients.user.email}}</td>
            <td>{{patients.phone}}</td>
            <td>{{patients.sip}}</td>
            <td>{{patients.medicalHistory}}</td>
            <td style='flex: 0 0 300px;'>
                <div class="inline-flex">
                    <button pButton pRipple type="button" icon="pi pi-pencil" title='{{"patients.button.edit" | translate}}'
                    class="p-button-rounded p-button-text p-button-plain icon" (click)="editPatient(patients)"></button>
                    <button pButton pRipple type="button" icon="pi pi-chart-bar" title='{{"patients.button.stat" | translate}}'
                    class="p-button-rounded p-button-text p-button-plain icon"></button>
                    <button pButton pRipple type="button" icon="pi pi-check-circle" title='{{"patients.button.eval" | translate}}'
                    class="p-button-rounded p-button-text p-button-plain icon"></button>
                    <button pButton pRipple type="button" icon="pi pi-book" title='{{"patients.button.diary" | translate}}'
                    class="p-button-rounded p-button-text p-button-plain icon"></button>
                    <button pButton pRipple type="button" icon="pi pi-plus-circle" title='{{"patients.button.medication" | translate}}'
                    class="p-button-rounded p-button-text p-button-plain icon"></button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>